*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header
{
    display: flex;
    padding: 20px 40px;
    
    background-color: beige;
    color: black;
    justify-content: space-between;
}
.header ul
{
    display: flex;
    list-style: none;
    padding: 0 10px;
    margin: 6px;
}
.header ul a
{
    text-decoration: none;

}
.header ul li
{
    padding: 0 15px;
}
.bot
{
   justify-content: space-between;
   width: 800px;
   margin: 8px;
   text-align: center;
   display: flex;
   align-items: center;
}
.bot label
{
    padding-right: 100px;
    padding-left: 50px;
  
    
}
.bot input
{
    width: 500px;
    padding: 8px;
}

textarea
{
    width: 500px;
   margin-left: 10px;
   padding: 7px 0 0 7px;
  

}
.bottom
{
    padding-left: 100px;
}
button
{
    padding: 5px;
    width: 200px;
    border-radius: 8px;
}